@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply leading-normal;
  }
  .bg-gradient {
    background: linear-gradient(
      144.39deg,
      #ffffff -278.56%,
      #fafffb -78.47%,
      #f4f4f4 21.61%
    );
  }
  .active {
    @apply text-xl font-bold text-creamBlack lg:font-medium lg:text-primary;
  }

  .btn {
    @apply flex items-center rounded-full bg-primary px-3 py-1 text-lg font-medium outline-none transition hover:bg-amber-500 lg:px-8 lg:py-3;
  }
  /* not work  */
  /* .h3 {
    @apply text-[22px] font-bold lg:text-[32px];
  }
  .section {
    @apply py-12 lg:py-24;
  }
  .section-title {
    @apply mb-6 text-2xl font-bold leading-normal lg:text-[40px];
  }
  .section-subtitle {
    @apply mb-8 mt-6 text-Gray;
  }
  .input,
  .select {
    @apply border-gray h-[38px] w-full border-b text-xl text-darkblue outline-none;
  }
  .input {
    @apply bg-transparent lg:max-w-[410px];
  }
  .select {
    @apply cursor-pointer lg:max-w-[200px];
  } */
}

/* .bg-img::before {
  background-image: url("https://res.cloudinary.com/dwx2jd8b1/image/upload/v1683029926/Rakibul_Hasan/pexels-edward-eyer-687824_cubsjo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  content: "";
  position: absolute;
  top: -50px;
  right: 0px;
  bottom: 0px;
  left: 0px;
} */
/* extra  */

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

/* make custom style for tailwind css */
/*
.padding {
  @apply px-6 py-4 sm:px-16 sm:py-12;
}
.paddingX {
  @apply px-6 sm:px-16;
}
.paddingY {
  @apply py-6 sm:py-16;
}

.marginX {
  @apply mx-6 sm:mx-16;
}
.marginY {
  @apply my-6 sm:my-16;
}

.boxWidth {
  @apply w-full xl:max-w-[1280px];
}

.heading2 {
  @apply  xs:text-[48px] xs:leading-[76.8px] w-full text-[40px] font-semibold leading-[66.8px] text-white;
}
.paragraph {
  @apply text-dimWhite text-[18px] font-normal leading-[30.8px];
}

.flexCenter {
  @apply flex items-center justify-center;
}
.flexStart {
  @apply flex items-start justify-center;
}

.section {
  @apply flex flex-col py-6 sm:py-16 md:flex-row;
}
.sectionImg {
  @apply relative ml-0  mt-10 flex flex-1 items-center justify-center md:ml-10 md:mt-0;
}

.sectionInfo {
  @apply flex flex-1 flex-col items-start justify-center;
}
.sectionReverse {
  @apply flex flex-col-reverse py-6 sm:py-16 md:flex-row;
}

.sectionImgReverse {
  @apply relative mr-0 mt-10 flex flex-1 items-center justify-center md:mr-10 md:mt-0;
} */
